<section id="apply-online">
  <section id="terms-of-agreement" class="section content terms__section">
    <div class="section__container">
      <h2>Participate in the Pilot</h2>
      {{ content.applyOnline.intro }}

      <article class="container-fluid box">
        {{ content.applyOnline.termsOfAgreement }}
      </article>

      <form method="POST" id="terms-of-agreement-form" class="py-4 js-terms-of-agreement-form">
        <div class="form-check form-group">
          <input class="form-check-input" type="checkbox" value="true" id="agree-checkbox" name="agree-checkbox">
          <label class="form-check-label" for="agree-checkbox">
            I agree in the terms of agreement.
          </label>
        </div>
        <button type="submit" class="btn button--primary">Submit</button>
      </form>

      <div class="alert d-none js-terms-of-agreement-alert my-4" role="alert">
      </div>
    </div>
  </section>

  {% include "./emailSurvey.njk" %}

  {% include "./pilotSurvey.njk" %}

  {% include "./respSurvey.njk" %}

  {% include "./bmo.njk" %}

  {% include "./wealthSimple.njk" %}

  {% include "./notParticipant.njk" %}
</section>
