<section id="bmo" class="section content">
  <div class="section__container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Attention Bank of Montreal (BMO) applicants!</h3>
      </div>
      <div class="col-md-6 col-lg-4 pb-4">
        <img class="img-fluid" src="{{ content.sponsors.bmo.logo }}" alt="Bank Of Montreal">
      </div>
      <div class="col-md-6 col-lg-8">
        {{ content.sponsors.bmo.intro }}
        <a class="btn button--warning" href="{{ content.sponsors.bmo.download }}" download><i class="fa fa-download"></i> Download Fillable</a>
      </div>
    </div>
  </div>
</section>
