<section id="claim" class="section">
  <div class="section__container content">
    <div class="row">
      <header class="col-md-4"><h2>Two things you can claim for your children</h2></header>

      <div class="col-md-8">
        {{ content.claim }}
      </div>
    </div>
  </div>
</section>

<section id="who-can-participate" class="section">
  <div class="section__container content">
    <div class="row">
      <header class="col-md-4"><h2>Who can participate?</h2></header>

      <div class="col-md-8">
        {{ content.whoCanParticipate }}
      </div>
    </div>
  </div>
</section>
