<section id="faq" class="section content d-flex flex-column justify-content-center">
  <div class="section__container">
    <div class="row">
      <div class="col-md-4">
        <h2>FAQ's</h2>
      </div>
      <div class="col-md-8">
        {{ content.faq.intro }}
        <a href="{{ content.faq.download }}" class="btn button--primary" download><i class="fa fa-download"></i> Download FAQ's</a>
      </div>
    </div>
  </div>
</section>
