<footer class="footer section" id="contact">
  <div class="section__container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid mb-2" src="{{ logo }}" alt="SmartSaver">
        {{ content.footer.intro }}
      </div>
      <div class="col-md-6">
        {{ content.footer.footer }}
      </div>
    </div> 
  </div>
</footer>
