<header class="header d-flex position-relative">
  <div class="header__container section__container">
    <div class="row">
      <div class="col-sm d-flex">
        <div class="title__container d-md-flex flex-column">
          <h2 class="header__title">Education is the key to brighter future.</h2>
          <h3 class="header__subtitle">
            Sending your child to higher education can be expensive.
          </h3>

          <div class="header__title-body">
            <p>There are two things you can do now to help your child to reach their potential <span class="highlight">(without costing you a dime!)</span></p>
            <a class="btn button--warning js-nav-link" href="#claim">
              Show me how
            </a>
          </div>
        </div>
      </div>
      <div class="header-image__container col-md d-none d-md-block position-relative">
        <span class="header-overlay position-absolute"></span>
      </div>
    </div>
  </div>
  <span class="header-overlay position-absolute d-block d-md-none"></span>
</header>
