{% extends '../templates/homeTemplate.njk' %}

{% block title %}SmartSAVER.org{% endblock %}

{% block meta %}<link rel="stylesheet" href="{{ style }}">{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand navbar-brand__link" href="#"><img class="img-fluid" src="{{ logo }}" alt="SmartSaver.org Logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link navbar-item__link" href="#claim">Claim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-item__link" href="#">How-to's</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-item__link" href="#" id="applying-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Apply Online
            </a>
            <div class="dropdown-menu" aria-labelledby="applying-dropdown">
              <a class="dropdown-item" href="#">Terms of Agreement</a>
              <a class="dropdown-item" href="#">Email</a>
              <a class="dropdown-item" href="#">Information Survey</a>
              <a class="dropdown-item" href="#">RESP Survey</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-item__link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="header d-flex position-relative">
    <div class="header__container section__container">
      <div class="row">
        <div class="col-sm d-flex">
          <div class="title__container container-fluid d-md-flex flex-column">
            <h2 class="header__title">Education is the key to brighter future.</h2>
            <h3 class="header__subtitle">
              Sending your child to higher education can be expensive.
            </h3>

            <div class="header__title-body">
              <p>There are two things you can do now to help your child to reach their potential <span class="highlight">(without costing you a dime!)</span></p>
              <a class="btn button--warning" href="#">
                Show me how
              </a>
            </div>
          </div>
        </div>
        <div class="header-image__container col-md d-none d-md-block position-relative">
          <span class="header-overlay position-absolute"></span>
        </div>
      </div>
    </div>
    <span class="header-overlay position-absolute d-block d-md-none"></span>
  </header>

  <section id="claim" class="section">
    <div class="section__container">
      <div class="row">
        <header class="col-md">
          <h3>Two things you can claim for your children</h3>
        </header>
        <div class="col-md content">
          
        </div>
      </div>
    </div>
  </section>
  <script src="{{ script }}"></script>
{% endblock %}