{% extends '../templates/homeTemplate.njk' %}

{% block title %}SmartSAVER.org{% endblock %}

{% block meta %}<link rel="stylesheet" href="{{ style }}">{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand navbar-brand__link" href="#"><img class="img-fluid" src="{{ logo }}" alt="SmartSaver.org Logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link navbar-item__link" href="#">4-step Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-item__link" href="#">Applying</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-item__link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="header d-flex position-relative">
    <div class="header__content">
      <div class="row">
        <div class="col-sm d-flex">
          <div class="title__container container-fluid d-flex flex-column">
            <h2 class="header__title">Education is the key to brighter future.</h2>

            <h3 class="header__subtitle">
              Sending your child to higher education can be expensive.
            </h3>

            <p class="header__title-body"><span class="highlight">There are two things you can do now to help your child to reach their potential (without costing you a dime!)</span></p>
          </div>
        </div>
        <div class="header-image__container col-md d-none d-md-block position-relative">
          <span class="header-overlay position-absolute"></span>
        </div>
      </div>
    </div>
    <span class="header-overlay position-absolute d-block d-md-none"></span>
  </header>
  <script src="{{ script }}"></script>
{% endblock %}