<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand navbar-brand__link" href="/"><img class="img-fluid" src="{{ logo }}" alt="SmartSaver.org Logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-nav-link navbar-item__link" href="#claim">Claim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-nav-link navbar-item__link" href="#steps-to-apply">Steps to Apply</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-item__link" href="#" id="applyOnlineDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Apply Online
          </a>
          <div class="dropdown-menu" aria-labelledby="applyOnlineDropdown">
            <a class="dropdown-item js-nav-link" href="#terms-of-agreement">Terms of Agreement</a>
            <a class="dropdown-item js-nav-link" href="#email-survey">Email</a>
            <a class="dropdown-item js-nav-link" href="#questionnaire">Questionnaire</a>
            <a class="dropdown-item js-nav-link" href="#resp-clb-application">RESP/CLB Application</a>
            <a class="dropdown-item js-nav-link" href="#bmo">BMO Participants</a>
            <a href="#wealthsimple" class="dropdown-item js-nav-link">WealthSimple Participants</a>
            <a href="#non-participant" class="dropdown-item js-nav-link">Not a BMO or WealthSimple Family?</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link js-nav-link navbar-item__link" href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-nav-link navbar-item__link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
