<section id="non-participant" class="section content d-flex flex-column justify-content-center">
  <div class="section__container">
    <div class="row">
      <div class="col-md-4">
        <h2>Not a Bank of Montreal (BMO) or Weathsimple family?</h2>
      </div>
      <div class="col-md-8">
        {{ content.applyOnline.notParticipant }}
      </div>
    </div>
  </div>
</section>
