<section class="section content" id="resp-clb-application">
  <div class="section__container">
    <h3>RESP and CLB Application</h3>
    {{ content.applyOnline.respSurvey.intro }}

    <div class="resp-survey__container element--covered js-application-form">
      <iframe class="survey" src="{{ respSurveyUrl }}" frameborder="0"></iframe>

      <span class="overlay help help--error">
        Read and agree to the terms of agreement before proceeding.
      </span>
    </div>

    <footer class="py-4">
      {{ content.applyOnline.respSurvey.footer }}
    </footer>
  </div>
</section>
