<section id="wealthsimple" class="section content">
  <div class="section__container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Attention WealthSimple applicants!</h3>
      </div>
      <div class="col-md-6 col-lg-4 pb-4">
        <img class="img-fluid" src="/static/images/wealthsimple-logo.png" alt="WealthSimple">
      </div>
      <div class="col-md-6 col-lg-8">
        {{ content.sponsors.wealthsimple.intro }}
      </div>
    </div>
  </div>
</section>
