.Image {
  cursor: pointer;
  flex: 1 0 10rem;
}

.Image + .Image {
  margin-left: 0.5rem;
}

.Image:hover {
  filter: drop-shadow(0px 0px 7px rgba(0, 59, 89, 0.44));
}

.Image.Selected {
  filter: drop-shadow(0px 0px 7px #fabc0966);
}

.ImagesContainer {
  display: flex;
  overflow-x: auto;
  min-height: 8rem;
  max-height: 10rem;
}
