.navbar.Navbar--blue {
  background-color: #003b59 !important;
}

.navbar-brand .navbar-item img {
  max-height: 2.3rem;
}

.Navbar--blue .navbar-brand .navbar-item:hover {
  background-color: #014263 !important;
}

@media (min-width: 1088px) {
  .Navbar--blue .navbar-end > .navbar-item:hover {
    background-color: #014263 !important;
  }
  .Navbar--blue.is-dark .navbar-item.has-dropdown:hover .navbar-link,
  .Navbar--blue.is-dark .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #014263 !important;
  }
}
