html,
body {
  min-height: 100vh;
}

html,
body {
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Century Gothic', Arial, sans-serif;
}

.navbar-brand__link {
  width: 9rem;
  padding: 0 0 0.3rem 0;
}

.navbar {
  background: rgb(0, 59, 89);
}

.navbar .nav-item .navbar-item__link {
  color: rgb(255, 255, 255);
}

.navbar .nav-item .navbar-item__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* Header details  */

.header {
  background-color: #efefef;
}

@media (max-width: 767px) {
  .header {
    background-image: url('/static/images/header-image-no-fade.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}

.header__content {
  max-width: 80rem;
}

@media (max-width: 767px) {
  .header__content {
    z-index: 1;
  }
}

.header__content .row {
  width: 100%;
  margin: 0 auto;
}

.header-overlay.position-absolute {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #ffffff82;
}