html,
body {
  min-height: 100vh;
}

html,
body {
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Century Gothic', Arial, sans-serif;
}

.navbar-brand__link {
  width: 9rem;
  padding: 0 0 0.3rem 0;
}

.navbar {
  background: rgb(0, 59, 89);
}

.navbar
.nav-item
.navbar-item__link {
  color: rgb(255, 255, 255);
}

.navbar
.nav-item .navbar-item__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.header {
  min-height: 15rem;
  background-color: #efefef;
}
